@import "util/colors.scss";

.grade {
  &-allList {
    height: 9rem;
    background-color: $bg-white;
    padding: 0;
    display: flex;
    flex-direction: column;

    &-head {
      background-color: $bg-blue;
      color: $ft-white;
      display: flex;
      div {
        width: 8rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-body {
      display: flex;
      div {
        width: 8rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
