@import "util/colors.scss";

.grade {
  @media screen and (max-width: 767px) {
    font-size: 0.9rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 0.8rem;
  }
  background-color: $bg-white;
  padding: 0;

  table {
    width: 100%;
  }
  th {
    background-color: $bg-blue;
    color: $ft-white;
    height: 3rem;
    font-weight: 400;
  }
  td {
    text-align: center;
    color: black;
  }
}
