/* your css code */
.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c32c5;
  color: white;
  transition: 0.3s;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background: #465ae1;
  }
}
