/* your css code */
#Button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c32c5;
  color: white;
  transition: 0.3s;
  border-radius: 3px;
  max-width: 11.3rem;
  width: 11rem;
  height: 2.5rem;
  cursor: pointer;
  & span {
    font-size: 1rem;
  }
  &:hover {
    background: #465ae1;
  }
}
