@import "util/colors.scss";

.Admission {
  width: 100%;
  height: auto;
  margin-top: 4rem;

  &-box {
    width: 100%;
    margin-top: 2rem;
    height: auto;
    &-content {
      width: 100%;
      height: auto;
      display: flex;

      &-inputgroup {
        width: 16rem;
        height: auto;

        &-check {
          width: 16rem;
          height: 2.8rem;
          border: 1px solid $bd-line;
          border-radius: 0.2rem;
          margin-top: 1rem;
          display: flex;
          align-items: center;
          padding-left: 1rem;
          color: $ft-gray;
        }
      }

      &-select {
        width: 30rem;
        height: 2.8rem;
        border: 1px solid $bd-line;
        border-radius: 0.2rem;
        margin-top: 1rem;
        margin-left: 6rem;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        color: $ft-gray;
      }

      &-info {
        width: 30rem;
        height: 10.4rem;
        background-color: $bg-blue-100;
        margin-top: 1rem;
        border-radius: 0.2rem;
        margin-left: 6rem;
      }
    }
  }
}
