@import "util/colors.scss";

.grade-list {
  @media screen and (max-width: 767px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 0.4rem;
  }
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: $bg-white;
  margin-top: 2rem;
  thead,
  tr,
  th,
  td {
    border: 1px solid #ddd;
    height: 2.6rem;
  }

  &-head {
    background-color: $bg-blue;
    color: $ft-white;
  }

  &-white {
    background-color: $bg-white-100;
  }
}

.on {
  background-color: $bg-white;
  border: 1px solid $bd-gray-700;
  opacity: 0.7;
  width: 90%;
  height: 1.8rem;
  border: none;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  @media screen and (max-width: 767px) {
    font-size: 0.65rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1px;
  }
}

.off {
  width: 90%;
  height: 1.8rem;
  border: none;
  border: 1px solid $bd-gray-700;
  border-radius: 4px;
  background-color: $bg-white;
  &:focus {
    outline: none;
  }
  @media screen and (max-width: 767px) {
    font-size: 0.65rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 0.2rem;
  }
}
