@import "util/colors.scss";

.print {
  &-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-page {
    width: 216mm;
    min-height: 279mm;
    padding: 15mm;
    background: white;
    display: block;
    @media print {
      page-break-after: always;
    }
  }

  &-printBtn {
    width: 10rem;
    height: 2.5rem;
    background-color: $bg-blue;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $ft-white;
  }

  &-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
    td,
    th {
      border: $bd-gray 1px solid;
    }
    td {
      padding: 4px 2px 4px 2px;
    }
    .empty:after {
      content: "Empty cell";
      visibility: hidden;
    }
    th {
      padding: 4px 2px 4px 2px;
      font-weight: 600;
      background-color: $bg-gray-50;
    }
    &-title {
      font-size: 20px;
      font-weight: 700;
    }
    &-none {
      border: none !important;
    }
    &-left {
      text-align: left;
    }
  }
}
