/*
 * Shadow
 ** $sd- 로 시작
*/
$sd-black: #0000002c;

/*
 * background-color
 ** $bg- 로 시작
*/

/*
 * font
 ** $ft- 로 시작
*/
$bd-white: #ffffff;
$bg-white: #ffffff;
$ft-white: #ffffff;
$bg-Main-color: #071b50;
$ft-Main-color: #071b50;
$bg-writeback: #fbfcff;
$bg-line: #e2e2e2;
$bg-stick: #1c32c5;
$ft-gray: #7d7d7d;
