/*
 * Shadow
 ** $sd- 로 시작
*/
$sd-black: #0000002c;

/*
 * background-color
 ** $bg- 로 시작
*/
$bg-blue: #1c32c5;
$bg-light-bule: #465ae1;

/*
 * font
 ** $ft- 로 시작
*/
$white: #ffffff;
$Main-color: #071b50;

/*
 * border
 ** $bd- 로 시작
*/
$bd-gray: #7d7d7d;
