@import "./font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

html,
body {
  font-family: NotoSansKR;
  min-height: 100vh;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.Toastify__toast-container--top-left,
.Toastify__toast-container--top-center,
.Toastify__toast-container--top-right {
  @media screen and (max-width: 480px) {
    top: 1rem;
    left: auto;
    right: 1rem;
    width: 80vw;
  }
}
