@import "../../../util/colors.scss";

.userList {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-width: 1440px;
  font-size: 1rem;
  &-userAddModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: auto !important;
    min-height: auto !important;
    background: none !important;
    & input {
      font-size: 1rem;
      padding: 0.6rem 1rem;
      margin-top: 0.5rem;
      border: 1px solid $bg-gray-700;
      border-radius: 2px;
      &:focus {
        border: 1px solid $bg-blue-150;
        outline: none;
      }
      &::placeholder {
        color: $ft-gray-100;
      }
    }
  }
  &-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  &-subtitle {
    text-align: left;
    width: 100%;
  }
  &-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-input {
      width: 20rem;
      border: 1px solid $bd-gray;
      height: 2rem;
      padding-left: 1rem;
      &:focus {
        outline: none;
        border: 1px solid $bd-blue;
        &::placeholder {
          color: transparent;
        }
      }
    }
    &-btn {
      width: 20rem;
      height: 2.5rem;
      background-color: $bg-gray-50;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      border-radius: 3px;
      border: 1px solid $bd-gray;
      font-size: 1rem;
      &:hover {
        background-color: $bg-gray-100;
        cursor: pointer;
      }
    }
  }
  &-list {
    width: 100%;
    border-collapse: collapse;

    &-resultWrapper {
      width: 700px;
    }

    &-title {
      background-color: $bg-gray-50;
    }
    tr,
    td,
    th {
      border: 1px solid $bd-line;
      height: 2.5rem;
      text-align: center;
    }

    td {
      button {
        padding: 0.3rem 0.8rem;
        width: 5rem;
        border: none;
        border-radius: 2px;
        color: $ft-white;
        font-weight: 600;
        transition: 0.5s;
        &:focus {
          outline: none;
        }
      }

      .true {
        background-color: $bg-green-100;

        &:hover {
          background-color: $bg-green-200;
        }
      }

      .false {
        background-color: $bg-yellow-100;
        &:hover {
          background-color: $bg-yellow-200;
        }
      }
    }
  }
}

.allRatio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  min-width: 1440px;
  align-content: flex-start;
  font-size: 1rem;
  div {
    width: 30vw;
  }
  &-list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    &-title {
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: 500;
      background-color: $bg-gray-50;
    }
    tr,
    td,
    th {
      border: 1px solid $bd-line;
      height: 2.5rem;
    }
  }
}
.deleteIcon {
  cursor: pointer;
  & svg {
    width: 1.2rem;
    height: 1.2rem;
    transition: 0.1s;
    &:hover {
      fill: rgb(211, 2, 2);
    }
  }
}
