@import "util/colors.scss";

.student {
  padding: 2rem;
  background-color: #f6f6fc;
  color: $ft-darkgray;

  &-text {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    &-label {
      width: 100%;
      margin-bottom: 0.6rem;
    }

    &-textInput {
      width: 100%;
      height: 2.6rem;
      padding-left: 1rem;
      border: none;
      border: 1px solid $bd-gray-700;
      border-radius: 2px;
      &:focus {
        border: 1px solid $bd-blue;
        outline: none;
      }
    }
  }

  &-select {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 2rem;

    &-box {
      display: flex;
      width: 48%;
      flex-direction: column;
      &-label {
        width: 100%;
        margin-bottom: 0.6rem;
      }
      &-area {
        display: flex;
        justify-content: space-between;

        &-textInput {
          width: 100%;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }

        &-sex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 9.6rem;
          height: 2.6rem;
          font-size: 1rem;
          font-weight: 300;
          padding: 0 1rem;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          background-color: $bg-white;
          cursor: pointer;

          &-sexinput {
            width: 1.2rem;
            height: 2rem;
            padding-left: 1rem;
            border: none;
            border: 1px solid $bd-gray-700;
            border-radius: 2px;
            cursor: pointer;
            &:focus {
              border: 1px solid $bd-blue;
              outline: none;
            }
          }
        }
      }
    }
  }
}
