/* your css code */
@import "util/colors.scss";
.ProfileModalBox {
  display: flex;
  z-index: 100;
  flex-direction: column;
  position: absolute;
  top: 110%;
  right: 0%;
  background: white;
  font-size: 15px;
  &-title {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 3rem 0.6rem 1.3rem;
    &-name {
      font-size: 1.1rem;
      font-weight: 600;
    }
    &-email {
      width: 9rem;
      font-size: 0.9rem;
      color: $ft-gray;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &-pencil {
    margin-top: 3px;
    &-img {
      background-image: url("../../../assets/images/pencil-gray.png");
      background-repeat: no-repeat;
      width: 1.4rem;
      height: 1.4rem;
      background-size: 1.4rem 1.4rem;
    }
    &:hover {
      .ProfileModalBox-pencil-img {
        background-image: url("../../../assets/images/pencil.png");
      }
    }
  }
  &-status {
    &-img {
      background-image: url("../../../assets/images/paper-gray.png");
      background-repeat: no-repeat;
      width: 1.4rem;
      height: 1.4rem;
      background-size: 1.4rem 1.4rem;
    }
    &:hover {
      .ProfileModalBox-status-img {
        background-image: url("../../../assets/images/paper.png");
      }
    }
  }
  &-modify {
    &-img {
      background-image: url("../../../assets/images/password-gray.png");
      background-repeat: no-repeat;
      width: 1.4rem;
      height: 1.4rem;
      background-size: 1.4rem 1.4rem;
    }
    &:hover {
      .ProfileModalBox-modify-img {
        background-image: url("../../../assets/images/password@2x.png");
      }
    }
  }
  &-check {
    &-img {
      background-image: url("../../../assets/images/auth-gray.png");
      background-repeat: no-repeat;
      width: 1.4rem;
      height: 1.4rem;
      background-size: 1.4rem 1.4rem;
    }
    &:hover {
      .ProfileModalBox-check-img {
        background-image: url("../../../assets/images/auth.png");
      }
    }
  }
  &-logout {
    margin-bottom: 4px;
    &-img {
      background-image: url("../../../assets/images/logout-gray.png");
      background-repeat: no-repeat;
      width: 1.4rem;
      height: 1.4rem;
      background-size: 1.4rem 1.4rem;
    }
    &:hover {
      .ProfileModalBox-logout-img {
        background-image: url("../../../assets/images/logout.png");
      }
    }
  }
  &-background {
    z-index: 99;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
  }
}
.box {
  display: flex;
  padding: 0.7rem 1.3rem;
  transition: 0.2s;
  &-text {
    margin-left: 1rem;
    font-weight: 600;
  }
  &:hover {
    color: #0e1f91;
    background: #eff1fc;
  }
}
