@import "util/colors.scss";

.parent {
  padding: 2rem;
  background-color: #f6f6fc;
  color: $ft-darkgray;

  &-text {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    label {
      width: 100%;
    }

    &-textInput {
      width: 100%;
      height: 2.6rem;
      padding-left: 1rem;
      border: none;
      border: 1px solid $bd-gray-700;
      border-radius: 2px;
      margin-top: 0.6rem;
      &:focus {
        border: 1px solid $bd-blue;
        outline: none;
      }
    }
  }

  &-select {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 2rem;

    &-box {
      display: flex;
      width: 48%;
      flex-direction: column;
      label {
        width: 100%;
        margin-bottom: 0.6rem;
      }
      &-area {
        display: flex;
        justify-content: space-between;
        &-Input7 {
          width: 7rem;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }

        &-Input6 {
          width: 6rem;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }

        &-Input5 {
          width: 4.8rem;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }
        &-textInput {
          width: 100%;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }
        &-sexinput {
          width: 48%;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }
      }
    }
  }
}
