@import "util/colors.scss";

.header {
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  @media screen and (max-width: 767px) {
    padding: 0.5rem 0.5rem;
  }
  &-menu {
    position: fixed;
    right: -100%;
    transition: all 0.3s;
    width: 70%;
    height: 100%;
    background-color: #fff;
    z-index: 101;
    top: 0;
    bottom: 0;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    padding: 2rem;
    &-content {
    }
  }
  &-close {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10000;
    visibility: hidden;
    transition: all 0.3s;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    position: relative;
    &-profile {
      width: 29px;
      @media screen and (max-width: 970px) {
        width: 20px;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      &-item {
        margin-left: 3rem;
        color: white;
        font-size: 1.1rem;
        text-decoration: none;
        padding: 0.5rem;
        @media screen and (max-width: 767px) {
          display: none;
        }
        &-active {
          border-bottom: 5px solid #dde0ee;
          @media screen and (max-width: 970px) {
            border-bottom: 3px solid #dde0ee;
          }
        }
        @media screen and (max-width: 970px) {
          font-size: 1rem;
          margin-left: 1.5rem;
        }
      }
    }
    &-logo {
      width: 85px;
      cursor: pointer;
      @media screen and (max-width: 970px) {
        width: 70px;
      }
    }
    &-button {
      display: flex;
    }
  }

  &-mobile {
    .header {
      &-menu {
        @media screen and (max-width: 767px) {
          right: 0;
        }
      }
      &-close {
        @media screen and (max-width: 767px) {
          background-color: rgba(0, 0, 0, 0.37);
          z-index: 101;
          visibility: visible;
        }
      }
      &-container {
        &-link {
        }
      }
    }
  }
  &-toggle {
    margin-left: 1rem;
    color: $ft-white;
    font-size: 1.7rem;
    display: none;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}

.headerButton {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background: none;
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  transition: 0.2s;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    display: none;
  }
  &:hover {
    color: #15216b;
    background: white;
  }
}

.header-theme {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  .header {
    &-toggle {
      color: black;
    }
    &-container {
      &-profile {
        path {
          fill: black;
        }
      }
      &-link {
        &-item {
          color: black;
          border-color: black;
        }
      }
    }
  }
}
