@import "../../../util/colors.scss";

.rates {
  z-index: -100;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-width: 1440px;
  font-size: 1rem;
  &-title {
    font-size: 2rem;
    font-weight: 600;
  }
  &-btn {
    width: 12rem;
    height: 2.5rem;
    background-color: $bg-gray-50;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 3px;
    border: 1px solid $bd-gray;
    font-size: 1rem;
    &:hover {
      background-color: $bg-gray-100;
      cursor: pointer;
    }
  }
}

.explanation {
  padding: 2rem;
  min-width: 1440px;
  font-size: 1.2rem;
  &-first {
    margin-bottom: 1rem;
  }
}

.rate {
  display: flex;
  flex-direction: row;
  padding: 0rem 2rem 2rem 2rem;
  min-width: 1440px;
  align-content: flex-start;
  font-size: 1rem;
  &-title {
    display: flex;
  }
  &-list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    &-title {
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: 600;
      background-color: $bg-gray-100;
      &-sub {
        background-color: $bg-gray-50;
      }
      &-subSec {
        background-color: $bg-gray-10;
      }
    }
    tr,
    td,
    th {
      border: 1px solid $bd-line;
      height: 2.5rem;
    }
  }
}
