.VerificationNumber {
    &-wrapper {
        width:70%;
        display: flex;
        position: relative;
        border-radius: 2px;
        border: 1.1px solid #7d7d7d;
        // background-color: blue;
    }
}