@import "../../../util/colors.scss";

.receipt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-width: 1440px;

  &-input {
    width: 20rem;
    border: 1px solid $bd-gray;
    height: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    &:focus {
      outline: none;
      border: 1px solid $bd-blue;
      &::placeholder {
        color: transparent;
      }
    }
  }

  &-title {
    font-size: 2rem;
    font-weight: 600;
  }

  &-btn {
    width: 12rem;
    height: 2.5rem;
    background-color: $bg-gray-50;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid $bd-gray;
    margin: 1rem 0.4rem;
    cursor: pointer;
  }

  &-list {
    width: 100%;
    border-collapse: collapse;

    &-header {
      background-color: $bg-gray-50;
    }

    tr,
    td,
    th {
      border: 1px solid $bd-line;
      height: 2.5rem;
      text-align: center;
    }
  }
}
