@import "util/colors.scss";

.write {
  padding-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  &-box {
    width: 100%;
    max-width: 1100px;
    padding: 0 1rem;
    box-sizing: border-box;
    @media screen and (max-width: 767px) {
      padding: 0 0.5rem;
    }
  }
}
