@import "util/colors.scss";

.mission {
  padding: 2rem;
  background-color: #f6f6fc;
  margin-bottom: 2rem;
  color: $ft-darkgray;
  @media screen and (max-width: 767px) {
    padding: 1rem;
  }
  @media screen and (max-width: 500px) {
    padding: 0.8rem 1rem;
  }

  &-verterans {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    &-textInput {
      width: 48%;
      height: 2.6rem;
      padding-left: 1rem;
      border: none;
      border: 1px solid $bd-gray-700;
      border-radius: 2px;
      @media screen and (max-width: 767px) {
        font-size: 0.8rem;
        height: 2rem;
      }
      @media screen and (max-width: 500px) {
        padding-left: 0.5rem;
      }
      &:focus {
        border: 1px solid $bd-blue;
        outline: none;
      }
    }
  }

  &-area {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }

    select {
      width: 100%;
      height: 2.6rem;
      border: none;
      border: 1px solid $bd-gray-700;
      padding: 0 0.8rem;
      color: $ft-darkgray;
      font-size: 0.9rem;
      outline: none;
      @media screen and (max-width: 767px) {
        font-size: 0.8rem;
        height: 2rem;
      }
      @media screen and (max-width: 500px) {
        padding-left: 0.5rem;
      }
      &:focus {
        border: 1px solid $bd-blue;
        outline: none;
      }
    }

    &-label {
      width: 100%;
      margin-bottom: 0.6rem;
    }

    &-textInput {
      width: 100%;
      height: 2.6rem;
      padding-left: 1rem;
      border: none;
      border: 1px solid $bd-gray-700;
      border-radius: 2px;
      &:focus {
        border: 1px solid $bd-blue;
        outline: none;
      }
    }
    &-select {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }

      &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        height: 2.6rem;
        font-size: 1rem;
        font-weight: 300;
        padding: 0 1rem;
        border: 1px solid $bd-gray-700;
        border-radius: 2px;
        background-color: $bg-white;
        cursor: pointer;
        @media screen and (max-width: 767px) {
          font-size: 0.8rem;
          height: 2rem;
          padding: 0 0.5rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 0.67rem;
        }

        &-selectinput {
          width: 1.2rem;
          height: 2rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          cursor: pointer;
          @media screen and (max-width: 767px) {
            width: 0.8rem;
            height: 0.8rem;
          }
          @media screen and (max-width: 500px) {
            width: 0.67rem;
            height: 0.67rem;
          }
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }
      }

      &-box2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 23%;
        height: 2.6rem;
        font-size: 0.9rem;
        font-weight: 300;
        padding: 0 0.6rem;
        border: 1px solid $bd-gray-700;
        border-radius: 2px;
        background-color: $bg-white;
        cursor: pointer;
        @media screen and (max-width: 767px) {
          font-size: 0.7rem;
          height: 2rem;
          padding: 0 0.5rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 0.6rem;
        }

        &-selectinput {
          width: 1rem;
          height: 1.8rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          cursor: pointer;
          @media screen and (max-width: 767px) {
            width: 0.8rem;
            height: 0.8rem;
          }
          @media screen and (max-width: 500px) {
            width: 0.67rem;
            height: 0.67rem;
          }
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }
      }
    }

    &-info {
      width: 100%;
      height: 10rem;
      margin-top: 1rem;
      background-color: $bg-white;
      padding: 1rem;
      font-size: 1rem;
      @media screen and (max-width: 767px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.8rem;
      }
    }
  }

  &-selector {
    margin-top: 1rem;
    select {
      width: 100%;
      height: 2.6rem;
      border: none;
      border: 1px solid $bd-gray-700;
      padding: 0 0.8rem;
      color: $ft-darkgray;
      font-size: 0.9rem;
      outline: none;
      @media screen and (max-width: 767px) {
        font-size: 0.8rem;
        height: 2rem;
      }
      @media screen and (max-width: 500px) {
        padding-left: 0.5rem;
        font-size: 0.68rem;
      }
      &:focus {
        border: 1px solid $bd-blue;
        outline: none;
      }
    }
  }
}
