@import "util/colors.scss";

.photo {
  padding: 2rem;
  background-color: #f6f6fc;
  color: $ft-darkgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $ft-blue;
  @media screen and (max-width: 767px) {
    padding: 1rem;
  }

  &-preview {
    width: 18rem;
    height: 24rem;
    background-color: $bg-white;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      width: 12rem;
      height: 16rem;
    }
  }

  input {
    display: none;
  }

  label {
    width: 20rem;
    height: 2.5rem;
    background-color: $bg-blue;
    color: $ft-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-top: 0.6rem;
    @media screen and (max-width: 767px) {
      font-size: 0.8rem;
    }
  }
}
