@import "util/colors.scss";

.school {
  padding: 2rem;
  background-color: #f6f6fc;
  margin-bottom: 2rem;
  color: $ft-darkgray;

  &-area {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    &-label {
      width: 100%;
      margin-bottom: 0.6rem;
    }

    &-textInput {
      width: 100%;
      height: 2.6rem;
      padding-left: 1rem;
      border: none;
      border: 1px solid $bd-gray-700;
      border-radius: 2px;
      &:focus {
        border: 1px solid $bd-blue;
        outline: none;
      }
    }
    &-select {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;

      &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 11.4rem;
        height: 2.6rem;
        font-size: 1rem;
        font-weight: 300;
        padding: 0 1rem;
        border: 1px solid $bd-gray-700;
        border-radius: 2px;
        background-color: $bg-white;
        cursor: pointer;

        &-selectinput {
          width: 1.4rem;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          cursor: pointer;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }
      }
    }
  }

  &-schedule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.2rem;

    &-box {
      display: flex;
      width: 48%;
      flex-direction: column;
      label {
        width: 100%;
        margin-bottom: 0.6rem;
      }

      &-textInput {
        width: 100%;
        height: 2.6rem;
        padding-left: 1rem;
        border: none;
        border: 1px solid $bd-gray-700;
        border-radius: 2px;
        &:focus {
          border: 1px solid $bd-blue;
          outline: none;
        }
      }

      &-area {
        display: flex;
        justify-content: space-between;

        &-column {
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 0.6rem;
          }
        }

        &-selectinput {
          width: 8.4rem;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }

        &-Input6 {
          width: 6rem;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }

        &-Input5 {
          width: 4.8rem;
          height: 2.6rem;
          padding-left: 1rem;
          border: none;
          border: 1px solid $bd-gray-700;
          border-radius: 2px;
          &:focus {
            border: 1px solid $bd-blue;
            outline: none;
          }
        }
      }
    }
  }
}
