@import "util/colors.scss";

.Card {
  min-width: 50%;
  color: $white;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  @media screen and (max-width: 767px) {
    margin-bottom: 2rem;
  }
  &-Title {
    width: 100%;
    border-left: 2px solid $white;
    font-size: 25px;
    height: auto;
    padding-left: 0.8rem;
    font-weight: 600;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  &-Text {
    width: 100%;
    padding-left: 1rem;
  }
}
