@import "util/colors.scss";

.ged {
  margin-top: 3rem;
  display: flex;
  background-color: $bg-white;
  position: relative;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  td {
    width: 14%;
    input {
      width: 90%;
      text-align: center;
      height: 1.8em;
    }
  }

  th {
    font-weight: 400;
  }

  &-table {
    box-sizing: border-box;
    &-head {
      background-color: $bg-blue;
      color: $ft-white;
      height: 2.6rem;
    }
  }
}
