@import "util/colors.scss";

.search {
  width: 50rem;
  height: 40rem;
  padding: 1rem;

  &-input {
    width: 100%;
    height: 2.6rem;
    padding-left: 1rem;
    border: none;
    border: 1px solid $bd-gray-700;
    border-radius: 2px;
    &:focus {
      border: 1px solid $bd-blue;
      outline: none;
    }
  }

  &-list {
    width: 100%;
    height: 34rem;
    margin-top: 1rem;
    padding: 0.6rem;
    overflow-y: auto;
    &-load {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.searchSchool {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.8rem;
  cursor: pointer;

  &-head {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    font-size: 0.9rem;
    color: $ft-gray;
  }
}

.modal-search-city {
  width: 100%;
  margin-bottom: 0.6rem;
  box-sizing: border-box;
}
