/* your css code */
@import "util/colors.scss";
.InterViewScore {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-width: 1440px;
  font-size: 1rem;
  &-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  &-table {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
    min-width: 1440px;
    font-size: 1rem;
    &-list {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      &-title {
        font-size: 1rem;
      }
    }
  }

  &-checkBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-s {
      &-op {
        font-size: 1rem;
        height: 2rem;
        &:nth-child(1) {
          margin-right: 0.5rem;
        }
        &:nth-child(2) {
          margin-right: 3rem;
        }
        &:focus {
          outline: none;
        }
      }
    }
    &-btn {
      height: 2rem;
    }

    &-label {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &-table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
  }

  & table th {
    background: $bg-gray-50;
    padding: 0rem 2rem;
    border: 1px solid $bd-line;
  }
  & table td {
    text-align: center;
    border: 1px solid $bd-line;
  }
  tr,
  td,
  th {
    border: 1px solid $bd-line;
    height: 2.5rem;
  }
}
