/* your css code */
@import "util/colors.scss";
.InterViewScore {
  display: flex;
  align-items: center;
  flex-direction: column;
  &-title {
    font-size: 2rem;
  }
  &-checkBox {
    display: flex;
    width: 30%;
    justify-content: space-between;
  }
  &-table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 80%;
  }

  & table th {
    background: $bg-gray-50;
    padding: 0rem 2rem;
    width: auto;
    border: 1px solid $bd-line;
  }
  & table td {
    text-align: center;
    border: 1px solid $bd-line;
    width: auto;
  }
}
