.Login {
  &-box {
    &-text {
      font-size: 1.9rem;
      font-weight: 700;
      color: #0b1b4c;
    }
    &-form {
      display: flex;
      flex-direction: column;
      padding: 0.8rem 0.5rem;
      position: relative;
      width: 90%;
      max-width: 24rem;
      @media screen and (max-width: 500px) {
        width: 100%;
      }
      .CheckBox {
        margin-top: 1rem;
      }
      #save_id {
        font-size: 0.8rem;
        & ~ label {
          width: 0.8rem;
          height: 0.8rem;
        }
        & ~ span {
          font-size: 0.8rem;
        }
      }
    }
    &-button {
      display: flex;
      align-items: center;
      flex-direction: column;
      &-find {
        margin: 5px;
        font-size: 0.9rem;
        cursor: pointer;
        color: rgb(50, 104, 231);
        transition: 0.2s;
        &:hover {
          color: #7d7d7d;
        }
      }
    }
  }
}
