/* your css code */
.Login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/Login.png");
    background-size: cover;
    z-index: -1000;
    max-width: 100%;
    height: 40%;
  }
  &-text {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    &-Welcome {
      font-size: 2.5rem;
    }
    &-content {
      font-size: 1.3rem;
    }
  }
  &-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    max-width: 37rem;
    height: 40rem;
    background: white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.16);
    margin-bottom: 4rem;
    &-text {
      font-size: 1.9rem;
      font-weight: 700;
      color: #0b1b4c;
    }
    &-form {
      display: flex;
      flex-direction: column;
      padding: 0.8rem 0.5rem;
      position: relative;
      width: 90%;
      max-width: 24rem;
    }
    &-button {
      display: flex;
      align-items: center;
      flex-direction: column;
      &-find {
        margin: 5px;
        font-size: 0.9rem;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: #7d7d7d;
        }
      }
    }
  }
}
