@import "util/colors.scss";

.addition {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  background-color: $bg-white;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  &-attend {
    width: 20%;

    &-grade {
      background-color: $bg-blue;
      color: $ft-white;
      width: 100%;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-white {
      width: 100%;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-body {
    width: 80%;

    div {
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 20rem;
        height: 2rem;
        text-align: center;
        border: none;
        border: 1px solid $bd-gray-700;
        border-radius: 2px;
        &:focus {
          border: 1px solid $bd-blue;
          outline: none;
        }
      }
    }

    &-grade {
      background-color: $bg-blue;
      color: $ft-white;
      width: 100%;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.leader {
  width: 100%;
  display: flex;
  background-color: $bg-white;
  margin-top: 2rem;
  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 0.8rem;
  }

  &-area {
    width: 12%;

    &-head {
      background-color: $bg-blue;
      color: $ft-white;
    }

    &-head {
      background-color: $bg-blue;
      color: $ft-white;
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &-box {
    width: 33%;

    &-head {
      background-color: $bg-blue;
      color: $ft-white;
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9em;
      text-align: center;
      @media screen and (max-width: 767px) {
        font-size: 0.8rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.6rem;
      }
    }
  }

  &-content {
    width: 55%;

    &-head {
      display: flex;
      width: 100%;
      &-list {
        width: 7.5rem;

        &-name {
          width: 100%;
          height: 2rem;
          background-color: $bg-blue;
          color: $ft-white;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-group {
          width: 100%;
          height: 2rem;
          display: flex;

          &-box {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            background-color: $bg-white-100;
          }
        }
      }

      &-check {
        width: 7.5rem;
        display: flex;
        height: 4rem;

        &-box {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &-select {
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 80%;
        height: 2.6rem;
        border: none;
        border: 1px solid $bd-gray-700;
        text-align: center;
        border-radius: 2px;
        padding: 0 0.8rem;
        color: $ft-darkgray;
        font-size: 0.9rem;
        outline: none;
        &:focus {
          border: 1px solid $bd-blue;
          outline: none;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }
}
