.CheckBox {
  z-index: 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  &:read-only label {
    position: relative;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    cursor: pointer;
    &::before {
      content: "";
    }
  }
  input {
    position: relative;
    display: none;
    width: 0.9rem;
    height: 0.9rem;
  }
  input:checked ~ label {
    background-color: #1c32c5;
    border: none;
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 7px;
      color: white;
      content: "\2713";
    }
  }
  & span {
    cursor: pointer;
    padding-left: 0.5rem;
  }
}
