@import "util/colors.scss";

.box {
  width: 1068px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;

  &-progress {
    position: absolute;
    width: 86%;
    height: 0.2rem;
    top: 1.6rem;
    background-color: $bg-blue-100;
    z-index: -1;

    &-filler {
      position: absolute;
      width: 50%;
      height: 100%;
      background-color: $bg-light-bule;
    }
  }
  &-area {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-point {
      width: 14%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.86rem;
      &-title {
        margin-bottom: 0.2rem;
      }
      &-circle {
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background-color: $bg-blue;
      }
    }
  }
}
