/* your css code */
.CustomInput {
  font-size: 1.2rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.9rem 1.2rem;
  border-radius: 2px;
  border: 1.1px solid #7d7d7d;
  &:focus {
    outline: none;
    border: 1.1px solid blue;
  }
}
