@import "util/colors.scss";

.SecondScore {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-width: 1440px;
  &-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  &-table {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem;
    min-width: 1440px;
    font-size: 1rem;
    &-list {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      &-title {
        font-size: 1rem;
      }
    }
    & table th {
      background: $bg-gray-50;
      padding: 0rem 2rem;
      border: 1px solid $bd-line;
    }
    & table td {
      text-align: center;
      border: 1px solid $bd-line;
    }
    tr,
    td,
    th {
      border: 1px solid $bd-line;
      height: 2.5rem;
    }
    th {
      font-size: 1rem;
    }
  }
  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-top: 1rem;
    font-size: 1rem;
    &-s {
      &-op {
        font-size: 1rem;
        height: 2rem;
        &:focus {
          outline: none;
        }
      }
    }
    &-download,
    &-upload {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.input-file {
  display: none;
}
.buttons {
  width: 12rem;
  height: 2.5rem;
  background-color: $bg-gray-50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid $bd-gray;
  font-size: 1rem;
  &:hover {
    background-color: $bg-gray-100;
    cursor: pointer;
  }
}
