/* your css code */
@import "util/colors.scss";

.FindPw {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  max-width: 37rem;
  height: 40rem;
  &-text {
    font-size: 2rem;
    font-weight: bold;
    color: $bd-darkblue;
  }
  &-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    &-button {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &-id {
        border: 1px solid $bd-gray-700;
        color: $bd-gray-700;
        background: none;
      }
      &-pw {
        border: none;
        background: $ft-blue;
        color: white;
      }
    }
    &-hr {
      margin-top: 0.8rem;
      width: 100%;
    }
  }

  &-form {
    &-text {
      color: $ft-darklightblue;
      font-weight: 600;
    }
  }
}
.button {
  font-size: 1rem;
  width: 49%;
  height: 2.8rem;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
