/* your css code */
.Find {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/profileBack.png");
  height: 100vh;
  background-size: 100% 40%;
  &-text {
    margin-top: 3rem;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    &-Welcome {
      font-size: 2.5rem;
    }
    &-content {
      font-size: 1.3rem;
    }
  }
  &-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    max-width: 39rem;
    height: 43rem;
    background: white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.16);
  }
}
